<!DOCTYPE html>
<html>
<head>
  <title>{{ __('CWUDB') }} - {{ title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:url" content="http://cwu.esy.es">
  <meta property="og:type" content="webapp">
  <meta property="og:title" content="CWUDB - Civil Worker's Union database">
  <meta property="og:description" content="Civilian Database for Garry's Mod Half Life servers (HL2RP)">
  <meta property="og:image" content="http://cwu.esy.es/img/logo-cwu-simple.jpg">
  <meta name="description" content="Civilian Database for Garry's Mod Half Life servers (HL2RP)">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="robots" content="index,follow,all">
  <meta name="keywords" content="HL2RP, CWU, Civil Worker's Union, Database">
  <meta name="author" content="William Gagnon">
  <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/img/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/img/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="/assets/css/animsition.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/grid.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/stylelogin.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/menu.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/overlay.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/owl.carousel.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='//fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  <script type="application/x-javascript"> 
    addEventListener("load", function() { 
      setTimeout(hideURLbar, 0); 
    }, false);

    function hideURLbar(){ 
      window.scrollTo(0,1); 
    } 
  </script>
  {% block style %} {% endblock %}
</head>
<body>
  {% block content %} {% endblock %} 
  {% include "keepsessionalive.njk" %}
</body>
</html>