@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,100,300,400italic,700|EB+Garamond);

@charset "utf-8";

@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

/* ===========================================================
  COSTUM
============================================================ */
@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);

.hackedtxt{
  color:#d3d3d3;
}

svg{
  width: 600px;
  height: 120px;
  display: block;
  position: relative;
  overflow: hidden; 
  margin: 0 auto;
  background: black;
}
.btn-term-ann {
  cursor:pointer;
  border:none;
  background: none;
  color: #08507f;
  font-weight: 700;
}
.btn-term-ann:hover {
  color: #0099FF;
}
.btn-seefile {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #0088ff;
  font-size: 20px;
  background: #ffffff;
  padding: 15px 25px 15px 25px;
  border: solid #bdbdbd 1px;
  text-decoration: none;
  transition: 0.5s;
  will-change: color, opacity, border-color;
  cursor: pointer;
  margin-left: 20%;
}

.btn-seefile:hover {
    color: #001C6F;
    opacity: 1;
    border-color: #001C6F;
}
.imgWrap {
  position: absolute;
  height: 50px;
  width: 100px;
}

.imgDescription {
  position: absolute;
  /* top: 0; */
  bottom: 0;
  left: 105%;
  right: 0;
  width: 200px;
  text-align: center;
  background: rgba(0, 153, 255, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  
}
.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}
.contsuperviseur {
  height: auto;
  overflow: auto;
}
.adminco{
    position: absolute;
    right: 20px;
    bottom: 5px;
    z-index: 1;
}
#languages {
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 1;
}
#languages img {
    margin: 3px;
    border: 0px;
}
.remarquefiche  {
  width:100% !important;
  height:250px;
  margin-top:15px !important;
  max-height:250px !important;
}
.container-4{
  overflow: hidden;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
}
.container-4 input[type="text"]{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.container-4 input[type="text"]::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-4 input[type="text"]:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-4 input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-4 input[type="text"]:-ms-input-placeholder {  
   color: #65737e;  
}
.container-4 button.iconsearch{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
 
  border: none;
  background: #232833;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;
 
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}
.container-4:hover button.iconsearch, .container-4:active button.iconsearch, .container-4:focus button.iconsearch{
    outline: none;
    opacity: 1;
    margin-left: -48px;
    margin-top: 0px;
  }
 
  .container-4:hover button.iconsearch:hover{
    background: white;
  }
table {
    margin: 0 0 2em 0;
    width: 100%;
  }

    table tbody tr {
      border: solid 1px #fff;
      border-left: 0;
      border-right: 0;
    }

      table tbody tr:nth-child(2n + 1) {
        background-color: rgba(144, 144, 144, 0.25);
      }

    table td {
      padding: 0.75em 0.75em;
    }

    table th {
      color: #fff;
      font-size: 0.9em;
      font-weight: 600;
      padding: 0 0.75em 0.75em 0.75em;
      text-align: left;
    }

    table thead {
      border-bottom: solid 2px #fff;
    }

    table tfoot {
      border-top: solid 2px #fff;
    }

    table.alt {
      border-collapse: separate;
    }

      table.alt tbody tr td {
        border: solid 1px #fff;
        border-left-width: 0;
        border-top-width: 0;
      }

        table.alt tbody tr td:first-child {
          border-left-width: 1px;
        }

      table.alt tbody tr:first-child td {
        border-top-width: 1px;
      }

      table.alt thead {
        border-bottom: 0;
      }

      table.alt tfoot {
        border-top: 0;
      }
.remarque {
  max-height: 180px;
  overflow-y: scroll;
}
.checkout input[type="submit"] {
  background: transparent;
  background-image: url(../../img/checkout.png);
  background-repeat: no-repeat;
  background-position: center 10px;
  width: 160px;
  height: 160px;
  margin-top: 0px; 
  padding-top: 105px;
  border: none;
  vertical-align: baseline;
}
.checkout{
  width:160px;
  margin-top: 30px;
}
.checkout:hover{
  -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
  -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
  box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
}
.btn-box input[type="submit"] {
    background: transparent;
    background-image: url(../../img/save.png);
    background-repeat: no-repeat;
    background-position: center 10px;
    width: 160px;
    height: 160px;
    margin-top: 0px; 
    padding-top: 105px;
    border: none;
    vertical-align: baseline;
}
.rank {
  /* height: 40%; */
  width: 40%;
}
.cwu-logo {
  height: 50%;
  width: 30%;
  margin-top: -80px;
}

.img-btn {
  display: inline-block;
}
.btn-img {
  width:100px;
  margin-top:20px;
}
.btn-box {
  width:160px;
  margin-top: 30px;
}
.btn-box a {
  width:160px;
  height:160px;
}
.btn-box:hover {
  -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
  -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
  box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
}
.grid .row .col_12 form{
  width: 50%;
  margin: 40px auto;
  color: white;
  font-family: "Roboto";
  font-size: 1.5rem;
}
.spacer {
    clear: both;
}
form .label-home {
    float: left;
    text-align: center;
    padding-top: 6px;
    margin-right: 40px;
}
form input[type="text"], form input[type="password"] {
    width: 50%;
    height: 36px;
    margin: auto;
    float: right;
    border: none;
    font-family: "Roboto";
    font-size: 1.125rem;
    padding-left: 10px;
}
input[type="text"], input[type="password"] {
    width: 50%;
    height: 36px;
    margin: auto;
    float: right;
    border: none;
    font-family: "Roboto";
    font-size: 1.125rem;
    padding-left: 10px;
}
.travauxrec input[type="text"] {
  color:#000;
  border: 2px solid #000;
}
.mainleft input[type="text"], .mainleft input[type="password"] {
  color:#000;
  border: 2px solid #000;
}
.mainleft form input[type="text"], .mainleft form input[type="password"] {
  color:#000;
  border: 2px solid #000;
}
form .label-home:nth-child(4) {
    margin-top: 30px;
}
.mainleft form .label-home:nth-child(1) {
    margin-top: 0px;
}
.mainleft form .label-home {
    margin-top: 30px;
}
form input[type="text"]:nth-child(5), form input[type="password"]:nth-child(5) {
    margin-top: 30px;
}
.mainleft form input[type="text"]:nth-child(8), form input[type="password"]:nth-child(8) {
    margin-top: 30px;
}
.mainleft form input[type="text"]:nth-child(11), form input[type="password"]:nth-child(11) {
    margin-top: 30px;
}
.mainleft form textarea:nth-child(14), textarea {
    margin-top: 30px !important;
    width: 50% !important;
    height: 115px;
    max-height: 115px;
    float: right;
    border: none;
    font-family: "Roboto";
    font-size: 1.125rem;
    padding-left: 10px;
    padding-top: 5px;
    color:#000;
    border: 2px solid #000;
}
form .btn-co {
    margin-top: 50px;
    text-align: center;
}
form .btn-co input[type="submit"], form .btn-co input[type="reset"] {
    height: 50px;
    width: 60%;
    cursor: pointer;
    background: transparent;
    border: 2px solid white;
    font-size: 1.25rem;
    color: white;
    font-family: "Roboto-Light", sans-serif;
    transition: 0.5s, ease-in-out;
}
.mainleft form .btn-co input[type="submit"], form .btn-co input[type="reset"] {
    background: transparent;
    border: 2px solid #000;
    color: #000;
}
form .btn-co input[type="submit"]:hover, form .btn-co input[type="reset"]:hover {
    color: black;
    background: white;
}
form .souv {
  margin-top: 30px;
}
input[type=checkbox] {
    display:none;
}
input[type="checkbox"] + label {
    height: 20px;
    width: 60px;
    color:#000;
    display:inline;
    background-image: url(../../img/Unchecked-Checkbox-small18.png);
    background-repeat: no-repeat;
    background-position: left center;
}
input[type="checkbox"]:checked + label {
    background: url(../../img/Checked-Checkbox-small18.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.black input[type="checkbox"] + label {
    height: 20px;
    width: 60px;
    display:inline;
    background-image: url(../../img/Unchecked-Checkbox-small.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.black input[type="checkbox"]:checked + label {
    background: url(../../img/Checked-Checkbox-small.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.user-module h4 {
    line-height: 2em;
    overflow: hidden;
    width: 90%;
    margin: auto;
}

.notification-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 280px;
    z-index: 100;
}
.notification-box .item {
    margin-top: 15px;
    padding: 10px 15px;
    border-radius: 10px;
    border-color: #1d242a;
    background: #2e3842;
    color: #fff;
}
.notification-box .item p {
    margin-bottom: 8px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
/* ============================================================
  RESET 
============================================================ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  line-height: 24px;
  background-color: #FFFFFF;
}

h1,h2,h3,h4,h5,h6 {
  line-height: 28px;
}

h2,h3,h4,h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #19294D;
}

h1 {
  font-size: 70;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 32px;
  line-height: 40px;
  padding-top: 40px;
  padding-bottom: 30px;
}

h4 {
  font-size: 28px;
  line-height: 32px;
  padding-top: 30px;
  padding-bottom: 25px;
}

h5 {
  font-size: 20px;
  line-height: 28px;
  padding-top: 20px;
  padding-bottom: 15px;
}

h6 {
  font-size: 17px;
  line-height: 22px;
  padding-top: 20px;
  padding-bottom: 15px;
  font-weight: 700;
}

h2.love,h3.love,h4.love,h5.love,h6.love {
  font-weight: 700;
  color: #0f6fa9;
  background-image: url(../../img/h-back.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 20px;
  text-align: center;
  margin-bottom: 30px;
}

h2.love {
  font-size: 40px;
}

h3.love {
  font-size: 28px;
}

h4.love {
  font-size: 24px;
}

h6.love {
  font-size: 18px;
}

h4.color {
  font-size: 28px;
  background-color: #001C6F;
  display: block;
  padding: 20px;
  color: #FFF;
  margin-bottom: 30px;
}

h4.color90 {
  font-size: 18px;
  display: block;
  padding: 15px;
  margin-bottom: 25px;
  font-weight: 400;
}

p {
  padding-top: 8px;
  padding-bottom: 8px;
}

a {
  font-weight: 700;
  color: #08507f;
  text-decoration: none;
}

a:hover {
  color: #0099FF;
}

.colw_12 p:first-of-type, .colw_8 p:first-of-type, .colw_7 p:first-of-type, .colw_6 p:first-of-type {
  font-family: 'Roboto Slab', serif;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
}

strong {
  font-weight: 700;
}

.center {
  text-align: center;
}

.padd {
  padding-right: 2%;
  padding-left: 2%;
}

.paddr {
  padding-right: 2%;
}

.paddtop5 {
  padding-top: 5%;
}

.paddbott50 {
  padding-bottom: 50px;
}

.padd5555 {
  padding: 5%;
}

.paddbott100 {
  padding-bottom: 100px;
}

.paddtop100 {
  padding-top: 100px;
}

.paddtop105 {
  padding-top: 100px;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
}

.box66 {
  width: 66%;
  margin-right: auto;
  margin-left: auto;
}

.box80 {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.box90 {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.backimg {
  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* TRANSITION BACKGROUN COLOR */
* {
  -webkit-transition: background-color 0.5s ease;
  ;
  -moz-transition: background-color 0.5s ease;
  ;
  -ms-transition: background-color 0.5s ease;
  ;
  -o-transition: background-color 0.5s ease;
  ;
}
/* styles */
.hero100 {
  position: relative;
  height: 100vh;
  width: 100%;
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #1F2535;
  background: url(../../img/hl2rp-6.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 10%;
  transition: background 1s linear;
}

section {
  width: 100%;
  position: relative;
}

#section-2 {
  padding-top: 150px;
}

#section-3 {
  min-height: 100vh;
  width: 100%;
  background-color: #141C31;
  background: url(../../img/opatija3.jpg);
}

#section-4 {
  padding-top: 50px;
}

#section-5 {
  padding-top: 120px;
}

#section-7 {
  background-color: #F6F6F6;
  background-image: url(../../img/hl2rp-6.jpg);
}
/* INTRO TITLE */

h1#title-1 {
  text-align: center;
  color: rgba(250, 250, 250, 0.9);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 50px;
  font-style: normal;
  font-weight: 100;
}

#title-1 em {
  font-family: 'Roboto',sans-serif;
  font-size: 100px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
  display: block;
  font-style: normal;
  padding-top: 15px;
  /*text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.2);
  -webkit-perspective: 1000;
  perspective: 1000;*/
}

#title-1 em::before,
#title-1 em::after {
  /*content: "§";*/
  display: inline-block;
  font-family: 'EB Garamond', serif;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  opacity: 0.2;
  margin: 0 16px;
  font-size: 40px;
}

#title-1 em span {
  display: inline-block;
  -webkit-animation: flip 8s cubic-bezier(0.0, 0.0, 0.58, 1.0) infinite;
  animation: flip 8s cubic-bezier(0.0, 0.0, 0.58, 1.0) infinite;
}

/* ARROW DOWN */
.fixbottarro {
  height: 150px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.fixbottarro a {
  text-indent: -2222px;
}

a.scroll {
  display: inline-block;
  font-size: 1.3em;
  height: 32px;
  width: 32px;
}

a.scroll:hover {
  text-decoration-color: -moz-use-text-color;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  -webkit-text-decoration-style: solid;
  text-decoration-style: solid;
}

a.scroll::after {
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: arrow;
  animation-name: arrow;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  content: "";
  height: 32px;
  left: 0;
  position: absolute;
  right: 0;
  top: 10px;
  width: 32px;
  border-bottom-color: #D90000;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-right-color: #D90000;
  border-right-style: solid;
  border-right-width: 2px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: auto;
}

@-webkit-keyframes arrow {
  0%,100% {
    top: 0;
  }

  50% {
    top: 30px;
  }
}

@keyframes arrow {
  0%,100% {
    top: 0;
  }

  50% {
    top: 30px;
  }
}

/* Social Button */
.social-btn-container {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  bottom: 8%;
}

.social-btn-container-sub {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  top: 15%;
}

.social-btn-box {
  display: inline-block;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 10px;
  position: relative;
  overflow: hidden;
}

.social-btn-box a {
  color: #fff;
  font-size: 20px;
  line-height: 70px;
  display: inline-block;
  width: 67px;
  height: 67px;
  position: absolute;
  top: -10px;
  left: -10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.social-btn-box,
.social-btn-box a {
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}

.social-btn-box:hover {
  border-color: transparent;
}

.social-btn-box .facebook-btn:hover {
  background: #3B5998;
  color: #fff;
}

.social-btn-box .twitter-btn:hover {
  background: #55ACEE;
  color: #fff;
}

.social-btn-box .linkedin-btn:hover {
  background: #0077b5;
  color: #fff;
}

.social-btn-box .google-plus-btn:hover {
  background: #db514f;
  color: #fff;
}

.social-btn-box .youtube-btn:hover {
  background: #cc181e;
  color: #fff;
}

.social-btn-box .github-btn:hover {
  background: #2b2e30;
  color: #fff;
}

.social-btn-box .a:hover {
  background: #3498db;
  color: #fff;
}
/* END Social Button */

.title-2 {
  font-size: 32px;
  line-height: 72px;
  font-weight: 900;
  text-align: center;
  color: #67788D;
}

.title-2 span {
  font-size: 72px;
  font-weight: 100;
  padding-top: 10px;
  padding-bottom: 60px;
  color: #0099FF;
  display: block;
}

.title-3 {
  font-size: 20px;
  display: block;
  padding-top: 50px;
  padding-bottom: 30px;
  font-weight: 700;
}

.title-4 {
  font-size: 48px;
  line-height: 72px;
  font-weight: 900;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

.title-5 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 900;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 70px;
  background-image: url(../../img/www.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  text-align: center;
  display: block;
  margin-bottom: 50px;
}

.icon {
  text-align: center;
  color: #CFD7E2;
  cursor: default;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 15px;
  transition: color 0.5s ease;
  font-size: 25px;
}

.icon:hover {
  color: #0099ff;
}

/* FA ICON GEAR */
.fa-spin-reverse {
  -webkit-animation: fa-spin-reverse 2s infinite linear;
  animation: fa-spin-reverse 2s infinite linear;
}

@-webkit-keyframes fa-spin-reverse {
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  0% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fa-spin-reverse {
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  0% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.wrap {
  width: 8em;
  height: 7.58em;
  font-size: 10px;
  position: relative;
}

.wrap i {
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 4em;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  -moz-animation-duration: 5s;
  -o-animation-duration: 5s;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
}

.wrap i:nth-child(2) {
  font-size: 6em;
  top: 0.4em;
  left: 0.25em;
}

.wrap i:nth-child(3) {
  font-size: 3em;
  top: 0.2em;
  left: 1.7em;
}

.white {
  background: #fff;
}

.white7 {
  height: 100%;
  width: 100%;
  background: white;
  opacity: 0.7;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.white7:hover {
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}

.white85 {
  height: 100%;
  width: 100%;
  background: white;
  opacity: 0.85;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.white85:hover {
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}

.white22 {
  background: #fff;
  padding: 20px;
  display: block;
  box-shadow: inset 0 0 0 1px #fff,inset 0 0 0 2px #e6b741,inset 0 0 0 3px #fff,inset 0 0 0 4px #e6b741,inset 0 0 0 5px #fff,inset 0 0 0 6px #e6b741;
}

.blockdiv {
  display: block;
  width: 100%;
  float: left;
}


/* FOOTER */

p.dolje {
  width: 100%;
  font-size: 0.7em;
  color: #fff;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0px;
  line-height: 30px;
  display: block;
}

.dolje a {
  padding-bottom: 2px;
  color: #ed4933;
  text-decoration: none;
  font-weight: 400;
}

.dolje a:hover {
  color: #00F;
}

.linkline {
  display: inline-block;
  position: relative;
}

.linkline:after {
  content: '';
  display: block;
  margin: auto;
  height: 1px;
  width: 0;
  background: 0 0;
  -webkit-transition: width .8s ease;
  -moz-transition: width .8s ease;
  -o-transition: width .8s ease;
  -ms-transition: width .8s ease;
  transition: width .8s ease;
}

.linkline:hover:after {
  width: 100%;
  background-color: red;
}

a.linkline:hover {
  color: #03C;
}


/* BUTTON */
a.vale {
  color: #021638;
  line-height: 54px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  border: 1px solid rgba(0,0,0,0.3);
  display: block;
  width: 50%;
  text-transform: uppercase;
}

a.vale:hover {
  color: #FFF;
  background-color: #0099FF;
  box-shadow: inset 0 0 0 1px #fff;
  -webkit-transition: all 600ms linear;
  -moz-transition: all 600ms linear;
  -o-transition: all 600ms linear;
  -ms-transition: all 600ms linear;
  transition: all 600ms linear;
}
/* BUTTON PARTICLE */
[class*="BT"] {
  width: 250px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0 0 10px;
  line-height: 1px;
  height: 60px;
  border: 1px solid #FFFFFF;
}

[class*="BT"] hover {
  position: absolute;
  z-index: 5;
  width: 246px;
  margin-left: -370px;
  transition: all 0.3s ease-out 0s;
  background: #00ffffff;
  height: 60px;
  margin-top: -30px;
}

[class*="OH"] {
  overflow: hidden;
}

[class*="BR"] {
}

[class*="R6"] {
}

[class*="NF"] {
  background: transparent;
}

[class*="BT"]:hover hover {
  margin-left: 123px;
}

[class*="TU"] {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 400;
  color: #FFFF00;
  letter-spacing: 1px;
}

[class*="TU"]:hover {
  color: #FFF;
  font-weight: 900;
}

[class*="PT"] {
  cursor: pointer;
}

[class*="BT"] span {
  position: absolute;
  width: 200px;
  margin-left: -100px;
  z-index: 3;
}

canvas {
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  margin-top: -30px;
}

.reladiv {
  position: relative;
}

.bghover {
  background-color: rgba(21, 29, 51, 0.6);
  min-height: 100vh;
  width: 100%;
}

.bghover7 {
  background-color: rgba(255,255,255,0.5);
  min-height: 100vh;
  width: 100%;
}

.paraw {
  font-size: 60px;
  font-weight: 900;
  color: #FFF;
  padding-top: 70px;
  padding-bottom: 40px;
  text-indent: 10%;
}

.bghwhite {
  background-color: rgba(250, 250, 250, 1);
}

.iconfullbox {
  position: relative;
  width: 100%;
}

.iconfull {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
}

h5.title0 {
  font-size: 17px;
  font-weight: 700;
  color: #000;
  margin: 0px;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.lightblue {
  background: #0099ff;
}

.purple {
  background-color: #9A12B3;
}

.pink {
  background-color: #FF00FE;
}

.pictonblue {
  background-color: #22A7F0;
}

.indigo {
  background-color: #3F51B5;
}

.pink7 {
  background-color: #E91E63;
}

.gray2 {
  background-color: #919DB7;
  color: #fff;
}

.gray3 {
  background-color: #D2DAE7;
  color: #000;
}

.gray2:hover, .gray3:hover {
  background-color: #008CEA;
  color: #fff;
}


/* OWL CAROUSLE */
.owl50 {
  width: 100%;
  padding-right: 15%;
  padding-left: 15%;
  background-color: #F5F5F5;
  padding-top: 2%;
  padding-bottom: 5%;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #E0E1E1;
  border-bottom-color: #E0E1E1;
}
/* black and white image */
.blackwhiteimg {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  -webkit-filter: grayscale(1);
  border: 1px solid #bbbbbb;
}

.blackwhiteimg:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: none;
  -webkit-filter: grayscale(0);
  border: 1px solid #0066FF;
}

/* HOME PARALLAX */
article {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
}

article img {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* blockquote */		
.absomid-cbp {
  height: 300px;
  width: 680px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.corner {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -khtml-border-radius: 8px;
  border: 1px solid #FFF;
}

.cbp-qtrotator {
  position: relative;
  max-width: 600px;
  width: 100%;
  height: 220px;
}

.cbp-qtrotator .cbp-qtcontent {
  position: absolute;
  height: 180px;
  border-top: 2px solid #f4f4f4;
  padding: 20px 0;
  top: 0;
  z-index: 0;
  opacity: 0;
  width: 100%;
}

.no-js .cbp-qtrotator .cbp-qtcontent {
  border-bottom: none;
}

.cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent,
.no-js .cbp-qtrotator .cbp-qtcontent {
  position: relative;
  z-index: 100;
  pointer-events: auto;
  opacity: 1;
}

.cbp-qtrotator .cbp-qtcontent:before,
.cbp-qtrotator .cbp-qtcontent:after {
  content: " ";
  display: table;
}

.cbp-qtrotator .cbp-qtcontent:after {
  clear: both;
}

.cbp-qtprogress {
  position: absolute;
  background: #47a3da;
  height: 2px;
  width: 0%;
  z-index: 700;
  top: 0;
}

.cbp-qtrotator blockquote {
  margin: 0;
  padding: 0;
}

.cbp-qtrotator blockquote p {
  font-family: "Courier New", Courier, monospace;
  font-size: 28px;
  font-weight: 400;
  font-style: italic;
  margin-top: 10px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  line-height: 32px;
  background-image: url(../../img/quote_mark.png);
  background-repeat: no-repeat;
  background-position: left top;
  text-indent: 40px;
  padding: 4%;
}

.cbp-qtcontent:nth-child(even) {
  color: #909;
}

.cbp-qtcontent:nth-child(odd) {
  color: #03C;
}

.cbp-qtrotator blockquote footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: right;
  padding-right: 20px;
}

.cbp-qtrotator blockquote footer:before {
  content: '― ';
}

.horBar2Bxx {
  height: 1px;
  width: 100%;
  background-color: #0099FF;
}

#title-sub1 {
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  font-style: normal;
  padding-top: 5%;
  color: #0099FF;
  text-align: center;
}

#title-sub1::before,
#title-sub1::after {
  font-family: 'EB Garamond', serif;
  content: "§";
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  opacity: 0.7;
  margin: 0 16px;
  font-size: 24px;
}

#title-sub2 {
  font-family: 'EB Garamond', serif;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-style: normal;
  padding-top: 7%;
  color: #516165;
  text-align: center;
  line-height: 0px;
  padding-bottom: 60px;
  background: url(../../img/orna.png) no-repeat center bottom;
}

.boxwsha {
  padding: 30px;
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  background-color: #FFF;
}

.sha {
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  background-color: #FFF;
}

.fix-btn {
  display: block;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;
  height: 50px;
}

.istria-btn {
  position: absolute;
  left: 50%;
  bottom: 20px;
  z-index: 50;
  width: 200px;
  height: 44px;
  opacity: 0.8;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  font-size: 16px;
  color: #0099FF;
  font-style: italic;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  background-color: transparent;
  border: 1px solid rgba(143, 143, 143, 0.7);
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -ms-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  will-change: color, opacity, border-color;
  cursor: pointer;
}

.istria-btn:hover {
  color: #001C6F;
  opacity: 1;
  border-color: #001C6F;
}

.istria-btn:hover ~ .istria-over {
  background-color: rgba(157,176,255, 0.2);
}

.istria-btn:hover ~ .istria-over.active {
  background-color: transparent;
}

.istria-btn:hover ~ .istria-line .inner {
  max-width: 100%;
}

.istria-btn.active {
  -webkit-transition: 4.5s;
  -moz-transition: 4.5s;
  -ms-transition: 4.5s;
  -o-transition: 4.5s;
  transition: 4.5s;
  -webkit-transform: translateX(-50%) translateY(-1000px);
  -moz-transform: translateX(-50%) translateY(-1000px);
  -ms-transform: translateX(-50%) translateY(-1000px);
  -o-transform: translateX(-50%) translateY(-1000px);
  transform: translateX(-50%) translateY(-1000px);
}

.istria-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(157,176,255,0.0);
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -ms-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  will-change: background-color;
}

.istria-over.active {
  background-color: transparent;
}

.istria-line {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 200;
  width: -webkit-calc(50% - 100px);
  width: -moz-calc(50% - 100px);
  width: calc(50% - 100px);
  height: 1px;
  background-color: rgba(143, 143, 143, 0.0);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  will-change: width, max-width;
}

.istria-line.left {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.istria-line.right {
  left: -webkit-calc(50% + 100px);
  left: -moz-calc(50% + 100px);
  left: calc(50% + 100px);
}

.istria-line .inner {
  width: 100%;
  height: 100%;
  background-color: #001C6F;
  max-width: 0;
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -ms-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
}

.istria-line.active {
  opacity: 0;
}

#section-door {
  background-image: url(../../img/hl2rp-6.jpg);
  min-height: 100vh;
  width: 100%;
}

.hei100 {
  min-height: 100vh;
}

.midlle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.title-small {
  font-size: 20px;
  color: #0099ff;
  letter-spacing: 2px;
  font-weight: 400;
}

.title-gray {
  font-size: 40px;
  line-height: 48px;
  color: #45444b;
  letter-spacing: 5px;
}

.border-right {
  border-right: 1px solid #ACB0BD;
  text-align: right;
}

.spec-l {
  padding-right: 5%;
  padding-left: 15%;
}

.spec-r {
  padding-right: 15%;
  padding-left: 5%;
}

.spec-l p:first-of-type, .spec-r p:first-of-type {
  font-size: 14px;
  color: #747a8f;
}

.font90 {
  font-size: 90%;
}

#graybg {
  background-color: #E3E9F2;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #B8C7DE;
  border-bottom-color: #B8C7DE;
}

#blog {
  background: #F7F7F7;
  padding-top: 100px;
  padding-bottom: 150px;
  border-top: 1px solid #EEEEF2;
  border-bottom: 1px solid #EEEEF2;
}

.title-blog {
  font-size: 50px;
  font-weight: 100;
  padding-top: 0px;
  padding-bottom: 60px;
  color: #0099FF;
  display: block;
  line-height: 60px;
  text-align: center;
}

.title-post {
  font-size: 24px;
  font-weight: 300;
  color: #222;
  padding-top: 40px;
  padding-bottom: 10px;
  line-height: 24px;
  display: block;
}

.fix-btn-blog {
  display: block;
  width: 100%;
  margin-top: 100px;
  position: relative;
}

.date {
  padding-top: 5px;
  font-size: 12px;
  color: #006;
}

.soc-wrap {
  width: 100%;
  height: auto;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 20px 0px;
  text-align: center;
  line-height: 13px;
}

ul.blogsocico {
  float: right;
}

ul.blogsocico li {
  float: left;
  list-style: none outside none;
  border: none;
}

ul.blogsocico li a {
  background-color: transparent;
  background-image: url(../../img/social-sprite-min.png);
  background-repeat: no-repeat;
  background-size: auto 96px;
  border: 0 none;
  color: white;
  direction: ltr;
  display: block;
  height: 32px;
  overflow: hidden;
  text-align: left;
  text-decoration: none;
  text-indent: -999em;
  transition: all 0.2s ease 0s;
  width: 32px;
}

.ie7 ul.blogsocico li a, .ie8 ul.blogsocico li a {
  background-image: url(../../img/social-sprite-min.png);
}

ul.blogsocico li.facebook a {
  background-position: 0 0;
}

ul.blogsocico li.googleplus a {
  background-position: -96px 0;
}

ul.blogsocico li.twitter a {
  background-position: -256px 0;
}

ul.blogsocico li.facebook a:hover, #sidebar ul.blogsocico li.facebook a:hover {
  background-position: 0 -32px;
}

ul.blogsocico li.googleplus a:hover, #sidebar ul.blogsocico li.googleplus a:hover {
  background-position: -96px -32px;
}

ul.blogsocico li.twitter a:hover, #sidebar ul.blogsocico li.twitter a:hover {
  background-position: -256px -32px;
}

ul.blogsocico li.youtube a:hover, #sidebar ul.blogsocico li.youtube a:hover {
  background-position: -320px -32px;
}


.gallerymore > ul > li a {
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
  cursor: url(../../img/plus_cursor.cur),url(../../img/plus_cursor.png),alias;
}

.gallerymore > ul > li a > img {
  -webkit-transition: -webkit-transform 0.25s ease 0s;
  -moz-transition: -moz-transform 0.25s ease 0s;
  -o-transition: -o-transform 0.25s ease 0s;
  transition: transform 0.25s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}

.gallerymore > ul > li a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}

.themodal-lock {
  overflow: hidden;
}

.themodal-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.themodal-overlay > * {
  -webkit-transform: translateZ(0px);
}

.themodal-overlay {
  background: rgba(250, 250, 250, 0.95);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #7F000000, endColorstr = #7F000000);
  zoom: 1;
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAABKElEQVR42o3TvUpDQRAF4FzdPaYQxEIbS38RtPFprEwlKohPYGtnI/4VoloIPoAIavQJfCKrnAlZOAxkmIFhdzPcL8ndmR5judY64LrEtJjr5aJjVtvw+T0A+7YvPFwyn1uRgSzE2CqlfPP5w1Y0/SoJKrQ5gY5bsQh4baB8hgDaUEgDDnxxoIfWCQ0dVKaBNx6U/Zr+Ig9NA28FbLGagTSqgHfM18lxhdAvz0cBFIIdgAsDmW/MAwelG7IvffRP6E/q/TTUvhXANqF3QgOu51wfZUKQgfT6fwicukt50lvOQkN52V3c2DHkr382OykGQaCvoI+qNraC7V3OyKx9JhoSAcgqsEvog4WTAIomxcBFOy/w8MA8C6EYvLfWGWMAdgIoMynz9u9GIh0wD30esEoAAAAASUVORK5CYII="), pointer;
}

.modal {
  background: #fff;
  width: 66%;
  margin: 54px auto 20px;
  border: 1px solid #0099FF;
  padding: 50px;
  cursor: pointer;
}

.modal .close {
  float: right;
  text-decoration: none;
  font-size: 40px;
  cursor: pointer;
}

.contact li {
  font-size: 16px;
  line-height: 48px;
  color: #595973;
  display: block;
}

.contact li span {
  color: #4294FF;
  display: inline-block;
  margin-left: 35px;
}

.spec-l-cont {
  padding-right: 5%;
}

.spec-r-cont {
  padding-left: 5%;
}

@media all and (min-width: 1600px) {
	h2 {
    line-height: 68px;
  }
  h1#title-1 {
    font-size: 20px;
    line-height: 48px;
    margin-top: -10vh;
  }

  #title-1 em {
    font-size: 100px;
    padding-top: 20px;
  }

  #title-1 em::before,
    #title-1 em::after {
    font-size: 50px;
    margin-right: 30px;
    margin-bottom: 0;
    margin-left: 30px;
  }

  h3 {
    font-size: 40px;
    line-height: 60px;
  }

  h4 {
    font-size: 32px;
    line-height: 40px;
  }
}

@media all and (min-width: 960px) and (max-width: 1600px) {
	h2 {
    line-height: 68px;
  }
  .wrap {
    width: 4em;
    height: 4em;
    font-size: 5px;
    position: relative;
  }

  .icon {
    margin-top: 0px;
    margin-bottom: 25px;
  }

  .title-2 {
    font-size: 24px;
    line-height: 44px;
    font-weight: 700;
    padding-top: 20px;
  }

  .title-2 span {
    font-size: 40px;
    font-weight: 100;
    padding-top: 10px;
    padding-bottom: 50px;
  }

  .box66 {
    width: 90%;
  }

  h3.title-3 {
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

@media all and (max-width: 1280px) {
  h2 {
    line-height: 68px;
  }
  section {
    min-height: auto;
  }
}

@media all and (min-width: 960px) and (max-width: 1280px) {
	
  #title-sub1 {
    font-size: 24px;
  }

  #title-sub1::before,
#title-sub1::after {
    font-size: 20px;
  }
}

@media all and (max-width: 960px) {
  .vito {
    display: none !important;
  }

  .bghwhite {
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: #0099ff;
    width: 50%;
  }

  h1#title-1 {
    font-size: 20px;
    margin-top: -5vh;
  }

  #title-1 em {
    font-size: 70px;
    padding-top: 0;
  }

  #title-1 em::before, #title-1 em::after {
    content: "";
    line-height: 14px;
  }

  .social-btn-container .social-btn-box {
    margin: 5px;
  }

  .social-btn-container .social-btn-box {
    width: 40px;
    height: 40px;

  }

  .social-btn-container .social-btn-box a {
    font-size: 14px;
    height: 60px;
    line-height: 60px;
    width: 60px;
  }

  .title-2 {
    font-size: 24px;
    line-height: 44px;
    font-weight: 700;
    padding-top: 20px;
  }

  .title-2 span {
    font-size: 40px;
    font-weight: 100;
    padding-top: 10px;
    padding-bottom: 50px;
  }

  .title.overtext h4 {
    font-size: 30px;
    line-height: 40px;
  }

  .box66 {
    width: 80%;
  }

  .border-right {
    border-right: none;
    text-align: left;
  }

  .spec-l, .spec-r {
    padding-right: 5%;
    padding-left: 5%;
  }
}

@media all and (min-width: 768px) and (max-width: 960px) {
  .hack960 {
    width: 720px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media all and (max-width: 768px) {
	
  .hero {
    background-image: url(../../img/istria768.jpg);
  }

  .absomid {
    width: 94%;
  }

  .cbp-qtrotator blockquote p {
    font-size: 20px;
    line-height: 28px;
  }

  .cbp-qtrotator blockquote footer {
    font-size: 14px;
  }

  article {
    height: 300px;
  }

  .modal {
    width: 90%;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media all and (max-width: 600px) {
	
  .social-btn-container {
    width: 320px;
    bottom: 30%;
  }

  .paraw {
    font-size: 40px;
  }

  #title-sub1 {
    font-size: 16px;
    padding-bottom: 20px;
  }

  #title-sub1::before,
#title-sub1::after {
    font-size: 12px;
  }

  #title-sub2 {
    font-size: 48px;
    padding-bottom: 40px;
  }

  .absomid-cbp {
    width: 470px;
  }
}

@media all and (max-width: 480px) {
  h1#title-1 {
    font-size: 16px;
    margin-top: 6vh;
  }

  #title-1 em {
    font-size: 36px;
  }

  .box66 {
    width: 90%;
  }

  #title-sub1 {
    font-size: 13px;
    padding-bottom: 20px;
  }

  #title-sub2 {
    font-size: 32px;
    padding-bottom: 40px;
  }

  .absomid-cbp {
    width: 320px;
  }
}
